openapi: 3.0.3
info:
  title: NextDNS API
  description: |
    Complete NextDNS API specification for DNS profile management, analytics, security, and privacy configuration.

    **Base URL**: https://api.nextdns.io

    **Authentication**: All requests require an API key provided via the `X-Api-Key` header.

    **Rate Limiting**: API responses include rate limit headers:
    - `X-RateLimit-Limit`: Maximum requests allowed per window
    - `X-RateLimit-Remaining`: Requests remaining in current window
    - `X-RateLimit-Reset`: Unix timestamp when the rate limit resets
  version: 1.0.0
  contact:
    name: NextDNS API Support
    url: https://nextdns.io/
servers:
  - url: https://api.nextdns.io
    description: Production NextDNS API server

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: NextDNS API key obtained from account settings

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        code:
          type: string
          description: Error code
      required:
        - error

    Profile:
      type: object
      properties:
        id:
          type: string
          description: Unique profile identifier (6 characters, alphanumeric)
          example: abc123
        name:
          type: string
          description: Profile name
          example: Home Network
        fingerprint:
          type: string
          description: Profile fingerprint for identification
      required:
        - id

    ProfileList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Profile'

    Settings:
      type: object
      properties:
        blockPage:
          type: boolean
          description: Enable block page for blocked domains
        logs:
          type: object
          properties:
            enabled:
              type: boolean
              description: Enable query logging
            retention:
              type: integer
              description: Log retention period in days
              enum: [1, 7, 30, 90, 180, 365]
        performance:
          type: object
          properties:
            ecs:
              type: boolean
              description: Enable EDNS Client Subnet
            cache:
              type: boolean
              description: Enable caching
        rewrites:
          type: array
          description: DNS rewrites configuration
          items:
            type: object
            properties:
              name:
                type: string
              content:
                type: string

    AnalyticsQuery:
      type: object
      properties:
        device:
          type: string
          description: Device identifier
        domain:
          type: string
          description: Queried domain name
        root:
          type: string
          description: Root domain
        type:
          type: string
          description: DNS query type (A, AAAA, etc.)
        status:
          type: integer
          description: Response status code
        timestamp:
          type: string
          format: date-time
          description: Query timestamp

    AnalyticsStatusData:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              status:
                type: integer
                description: HTTP/DNS status code
              queries:
                type: integer
                description: Number of queries with this status

    AnalyticsDNSSECData:
      type: object
      properties:
        data:
          type: object
          properties:
            validated:
              type: integer
            notValidated:
              type: integer

    AnalyticsEncryptionData:
      type: object
      properties:
        data:
          type: object
          properties:
            encrypted:
              type: integer
            unencrypted:
              type: integer

    AnalyticsIPVersionData:
      type: object
      properties:
        data:
          type: object
          properties:
            ipv4:
              type: integer
            ipv6:
              type: integer

    AnalyticsProtocolData:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              protocol:
                type: string
                enum: [DOH, DOT, DOQ, UDP, TCP]
              queries:
                type: integer

    AnalyticsTopItem:
      type: object
      properties:
        name:
          type: string
        queries:
          type: integer

    AnalyticsTopList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsTopItem'

    AnalyticsDeviceData:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              queries:
                type: integer

    AnalyticsTimeSeriesData:
      type: object
      description: Time-series analytics data for charting
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
                description: Timestamp for this data point
              queries:
                type: integer
                description: Number of queries for this time period
          description: Array of time-bucketed data points

    AnalyticsGAFAMData:
      type: object
      properties:
        data:
          type: object
          properties:
            google:
              type: integer
            facebook:
              type: integer
            apple:
              type: integer
            amazon:
              type: integer
            microsoft:
              type: integer

    AnalyticsCountryData:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              country:
                type: string
                description: ISO country code
              queries:
                type: integer

    ContentListEntry:
      type: object
      properties:
        id:
          type: string
          description: Entry identifier (domain or ID)
        active:
          type: boolean
          description: Whether the entry is active

    ContentList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ContentListEntry'

    AddContentEntry:
      type: object
      properties:
        id:
          type: string
          description: Domain name or identifier to add
      required:
        - id

    OperationSuccess:
      type: object
      properties:
        success:
          type: boolean
          example: true

  parameters:
    ProfileId:
      name: profile_id
      in: path
      required: true
      description: Profile ID (6-character alphanumeric identifier)
      schema:
        type: string
        pattern: '^[a-z0-9]{6}$'
      example: abc123

    EntryId:
      name: entry_id
      in: path
      required: true
      description: Entry identifier (domain or ID)
      schema:
        type: string
      example: example.com

    From:
      name: from
      in: query
      required: true
      description: Start timestamp for analytics (Unix timestamp or ISO 8601)
      schema:
        type: string
      example: '2024-01-01T00:00:00Z'

    To:
      name: to
      in: query
      description: End timestamp for analytics (Unix timestamp or ISO 8601)
      schema:
        type: string
      example: '2024-01-31T23:59:59Z'

    Limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
      example: 100

paths:
  # Profile Management
  /profiles:
    get:
      summary: List all profiles
      description: Retrieves a list of all NextDNS profiles accessible with the provided API key.
      operationId: listProfiles
      tags:
        - Profiles
      responses:
        '200':
          description: List of profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileList'
        '401':
          description: Unauthorized - Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Create a new profile
      description: Creates a new NextDNS profile with the specified configuration.
      operationId: createProfile
      tags:
        - Profiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name for the new profile
                  example: "Home Network"
              required:
                - name
      responses:
        '201':
          description: Profile created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /profiles/{profile_id}:
    get:
      summary: Get profile details
      description: Retrieves detailed information about a specific profile.
      operationId: getProfile
      tags:
        - Profiles
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '200':
          description: Profile details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '404':
          description: Profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      summary: Update profile
      description: Updates profile properties such as name and configuration.
      operationId: updateProfile
      tags:
        - Profiles
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New name for the profile
                  example: "Updated Home Network"
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '404':
          description: Profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete profile
      description: |
        **DANGER**: Permanently deletes a NextDNS profile and all its configuration.

        This action is irreversible. The profile and all its settings, lists, and analytics data will be permanently removed.

        **Safety Warning**: Only delete profiles that you own and are certain you want to remove.
      operationId: deleteProfile
      tags:
        - Profiles
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '204':
          description: Profile deleted successfully
        '404':
          description: Profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Cannot delete this profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Settings
  /profiles/{profile_id}/settings:
    get:
      summary: Get profile settings
      description: Retrieves the configuration settings for a profile.
      operationId: getSettings
      tags:
        - Settings
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '200':
          description: Profile settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'

    patch:
      summary: Update profile settings
      description: |
        Updates configuration settings for a profile. Only provided fields will be updated.

        **Safety Note**: Only use with designated test profiles.
      operationId: updateSettings
      tags:
        - Settings
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Settings'
      responses:
        '200':
          description: Settings updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'

  /profiles/{profile_id}/settings/logs:
    get:
      summary: Get logs settings
      description: Retrieves log retention and configuration settings.
      operationId: getLogsSettings
      tags:
        - Settings
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '200':
          description: Logs settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                  retention:
                    type: integer
                    enum: [1, 7, 30, 90, 180, 365]
                  location:
                    type: string

    patch:
      summary: Update logs settings
      description: Updates log retention period and configuration.
      operationId: updateLogsSettings
      tags:
        - Settings
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                retention:
                  type: integer
                  enum: [1, 7, 30, 90, 180, 365]
                location:
                  type: string
      responses:
        '200':
          description: Logs settings updated

  /profiles/{profile_id}/settings/blockPage:
    get:
      summary: Get block page settings
      description: Retrieves block page configuration.
      operationId: getBlockPageSettings
      tags:
        - Settings
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '200':
          description: Block page settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean

    patch:
      summary: Update block page settings
      description: Enables or disables the block page for blocked domains.
      operationId: updateBlockPageSettings
      tags:
        - Settings
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
      responses:
        '200':
          description: Block page settings updated

  /profiles/{profile_id}/settings/performance:
    get:
      summary: Get performance settings
      description: Retrieves performance optimization settings.
      operationId: getPerformanceSettings
      tags:
        - Settings
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '200':
          description: Performance settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  ecs:
                    type: boolean
                    description: EDNS Client Subnet
                  cache:
                    type: boolean
                    description: Caching boost

    patch:
      summary: Update performance settings
      description: Updates performance optimization configuration.
      operationId: updatePerformanceSettings
      tags:
        - Settings
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ecs:
                  type: boolean
                cache:
                  type: boolean
      responses:
        '200':
          description: Performance settings updated

  # Analytics - Status
  /profiles/{profile_id}/analytics/status:
    get:
      summary: Get query status analytics
      description: Retrieves analytics data about DNS query response status codes.
      operationId: getAnalyticsStatus
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Status analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsStatusData'

  /profiles/{profile_id}/analytics/status;series:
    get:
      summary: Get query status analytics time-series
      description: Retrieves time-series analytics data about DNS query response status codes for charting.
      operationId: getAnalyticsStatusSeries
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Status analytics time-series data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTimeSeriesData'

  # Analytics - Domains
  /profiles/{profile_id}/analytics/domains:
    get:
      summary: Get top domains analytics
      description: Retrieves statistics about the most queried domains.
      operationId: getAnalyticsDomains
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          description: Filter by domain status
          schema:
            type: string
            enum: [default, blocked, allowed]
        - name: root
          in: query
          description: Group by root domain
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Top domains analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTopList'

  /profiles/{profile_id}/analytics/domains;series:
    get:
      summary: Get top domains analytics time-series
      description: |
        Retrieves time-series statistics about the most queried domains for charting.

        **Known Issue**: This endpoint returns 404 from NextDNS API. While the documentation
        suggests all analytics endpoints support ;series suffix, this specific endpoint appears
        to not be implemented. Tool generation is disabled until the API is fixed.
      operationId: getAnalyticsDomainsSeries
      x-fastmcp-generate: false
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - name: status
          in: query
          description: Filter by domain status
          schema:
            type: string
            enum: [default, blocked, allowed]
        - name: root
          in: query
          description: Group by root domain
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Top domains time-series data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTimeSeriesData'

  # Analytics - Query Types
  /profiles/{profile_id}/analytics/queryTypes:
    get:
      summary: Get query type analytics
      description: Retrieves statistics about DNS query types (A, AAAA, CNAME, etc).
      operationId: getAnalyticsQueryTypes
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Query type analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTopList'

  /profiles/{profile_id}/analytics/queryTypes;series:
    get:
      summary: Get query type analytics time-series
      description: Retrieves time-series statistics about DNS query types for charting.
      operationId: getAnalyticsQueryTypesSeries
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Query type time-series data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTimeSeriesData'

  # Analytics - Reasons
  /profiles/{profile_id}/analytics/reasons:
    get:
      summary: Get blocking reasons analytics
      description: Retrieves statistics about why queries were blocked.
      operationId: getAnalyticsReasons
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Blocking reasons analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTopList'

  /profiles/{profile_id}/analytics/reasons;series:
    get:
      summary: Get blocking reasons analytics time-series
      description: Retrieves time-series statistics about why queries were blocked for charting.
      operationId: getAnalyticsReasonsSeries
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Blocking reasons time-series data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTimeSeriesData'

  # Analytics - IPs
  /profiles/{profile_id}/analytics/ips:
    get:
      summary: Get client IP analytics
      description: Retrieves statistics about client IP addresses.
      operationId: getAnalyticsIPs
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Client IP analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTopList'

  /profiles/{profile_id}/analytics/ips;series:
    get:
      summary: Get client IP analytics time-series
      description: Retrieves time-series statistics about client IP addresses for charting.
      operationId: getAnalyticsIPsSeries
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Client IP time-series data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTimeSeriesData'

  # Analytics - DNSSEC
  /profiles/{profile_id}/analytics/dnssec:
    get:
      summary: Get DNSSEC analytics
      description: Retrieves statistics about DNSSEC validation.
      operationId: getAnalyticsDNSSEC
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: DNSSEC analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsDNSSECData'

  /profiles/{profile_id}/analytics/dnssec;series:
    get:
      summary: Get DNSSEC analytics time-series
      description: Retrieves time-series statistics about DNSSEC validation for charting.
      operationId: getAnalyticsDNSSECSeries
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: DNSSEC time-series data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTimeSeriesData'

  # Analytics - Encryption
  /profiles/{profile_id}/analytics/encryption:
    get:
      summary: Get encryption analytics
      description: Retrieves statistics about encrypted vs unencrypted queries.
      operationId: getAnalyticsEncryption
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Encryption analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsEncryptionData'

  /profiles/{profile_id}/analytics/encryption;series:
    get:
      summary: Get encryption analytics time-series
      description: Retrieves time-series statistics about encrypted vs unencrypted queries for charting.
      operationId: getAnalyticsEncryptionSeries
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Encryption time-series data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTimeSeriesData'

  # Analytics - IP Versions
  /profiles/{profile_id}/analytics/ipVersions:
    get:
      summary: Get IP version analytics
      description: Retrieves statistics about IPv4 vs IPv6 usage.
      operationId: getAnalyticsIPVersions
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: IP version analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsIPVersionData'

  /profiles/{profile_id}/analytics/ipVersions;series:
    get:
      summary: Get IP version analytics time-series
      description: Retrieves time-series statistics about IPv4 vs IPv6 usage for charting.
      operationId: getAnalyticsIPVersionsSeries
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: IP version time-series data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTimeSeriesData'

  # Analytics - Protocols
  /profiles/{profile_id}/analytics/protocols:
    get:
      summary: Get protocol analytics
      description: Retrieves statistics about DNS protocol usage (DoH, DoT, DoQ, UDP, TCP).
      operationId: getAnalyticsProtocols
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Protocol analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsProtocolData'

  /profiles/{profile_id}/analytics/protocols;series:
    get:
      summary: Get protocol analytics time-series
      description: Retrieves time-series statistics about DNS protocol usage for charting.
      operationId: getAnalyticsProtocolsSeries
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Protocol time-series data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTimeSeriesData'

  # Analytics - Destinations
  /profiles/{profile_id}/analytics/destinations:
    get:
      summary: Get top destinations
      description: Retrieves the most queried destination domains.
      operationId: getAnalyticsDestinations
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Limit'
        - name: type
          in: query
          required: true
          description: Filter destinations by type (countries or GAFAM companies)
          schema:
            type: string
            enum: [countries, gafam]
      responses:
        '200':
          description: Top destinations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTopList'

  /profiles/{profile_id}/analytics/destinations;series:
    get:
      summary: Get top destinations analytics time-series
      description: Retrieves time-series statistics for the most queried destination domains for charting.
      operationId: getAnalyticsDestinationsSeries
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - name: type
          in: query
          required: true
          description: Filter destinations by type (countries or GAFAM companies)
          schema:
            type: string
            enum: [countries, gafam]
      responses:
        '200':
          description: Top destinations time-series data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTimeSeriesData'

  # Analytics - Devices
  /profiles/{profile_id}/analytics/devices:
    get:
      summary: Get device analytics
      description: Retrieves query statistics by device.
      operationId: getAnalyticsDevices
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Device analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsDeviceData'

  /profiles/{profile_id}/analytics/devices;series:
    get:
      summary: Get device analytics time-series
      description: Retrieves time-series query statistics by device for charting.
      operationId: getAnalyticsDevicesSeries
      tags:
        - Analytics
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Device time-series data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsTimeSeriesData'

  # Denylist Management
  /profiles/{profile_id}/denylist:
    get:
      summary: Get denylist entries
      description: Retrieves all domains in the profile's denylist.
      operationId: getDenylist
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '200':
          description: Denylist entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentList'

    post:
      summary: Add domain to denylist
      description: |
        Adds a domain to the profile's denylist (blocks the domain).

        **Safety Note**: Only use with designated test profiles.
      operationId: addToDenylist
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContentEntry'
      responses:
        '200':
          description: Domain added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

    put:
      summary: Replace denylist
      description: |
        Replaces the entire denylist with the provided list of domains.

        **Warning**: This operation removes all existing entries and replaces them.
        **Safety Note**: Only use with designated test profiles.

        **Known Limitation**: This endpoint requires a raw JSON array at the root level,
        which is not fully supported by FastMCP. Tool generation is disabled.
        Use the NextDNS API directly for bulk replacement operations.
      operationId: replaceDenylist
      x-fastmcp-generate: false
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
              description: Array of domain names to set as the complete denylist
              example: ["blocked.com", "malicious.org"]
      responses:
        '200':
          description: Denylist replaced successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

  /profiles/{profile_id}/denylist/{entry_id}:
    patch:
      summary: Update denylist entry
      description: |
        Updates properties of a denylist entry (e.g., enable/disable).

        **Safety Note**: Only use with designated test profiles.
      operationId: updateDenylistEntry
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/EntryId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  description: Enable or disable this denylist entry
              example:
                active: false
      responses:
        '200':
          description: Entry updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

    delete:
      summary: Remove domain from denylist
      description: |
        Removes a domain from the profile's denylist.

        **Safety Note**: Only use with designated test profiles.
      operationId: removeFromDenylist
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/EntryId'
      responses:
        '200':
          description: Domain removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

  # Allowlist Management
  /profiles/{profile_id}/allowlist:
    get:
      summary: Get allowlist entries
      description: Retrieves all domains in the profile's allowlist.
      operationId: getAllowlist
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '200':
          description: Allowlist entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentList'

    post:
      summary: Add domain to allowlist
      description: |
        Adds a domain to the profile's allowlist (bypasses all blocking for the domain).

        **Safety Note**: Only use with designated test profiles.
      operationId: addToAllowlist
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContentEntry'
      responses:
        '200':
          description: Domain added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

    put:
      summary: Replace allowlist
      description: |
        Replaces the entire allowlist with the provided list of domains.

        **Warning**: This operation removes all existing entries and replaces them.
        **Safety Note**: Only use with designated test profiles.

        **Known Limitation**: This endpoint requires a raw JSON array at the root level,
        which is not fully supported by FastMCP. Tool generation is disabled.
        Use the NextDNS API directly for bulk replacement operations.
      operationId: replaceAllowlist
      x-fastmcp-generate: false
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
              description: Array of domain names to set as the complete allowlist
              example: ["example.com", "trusted.org"]
      responses:
        '200':
          description: Allowlist replaced successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

  /profiles/{profile_id}/allowlist/{entry_id}:
    patch:
      summary: Update allowlist entry
      description: |
        Updates properties of an allowlist entry (e.g., enable/disable).

        **Safety Note**: Only use with designated test profiles.
      operationId: updateAllowlistEntry
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/EntryId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  description: Enable or disable this allowlist entry
              example:
                active: false
      responses:
        '200':
          description: Entry updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

    delete:
      summary: Remove domain from allowlist
      description: |
        Removes a domain from the profile's allowlist.

        **Safety Note**: Only use with designated test profiles.
      operationId: removeFromAllowlist
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/EntryId'
      responses:
        '200':
          description: Domain removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

  # Parental Control - Services
  /profiles/{profile_id}/parentalControl/services:
    get:
      summary: Get parental control services
      description: Retrieves blocked services (e.g., TikTok, Facebook, etc.).
      operationId: getParentalControlServices
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '200':
          description: Parental control services
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentList'

    put:
      summary: Replace parental control services
      description: |
        Replaces the entire list of blocked services.

        **Known Limitation**: This endpoint requires a raw JSON array at the root level,
        which is not fully supported by FastMCP. Tool generation is disabled.
        Use the NextDNS API directly for bulk replacement operations.
      operationId: replaceParentalControlServices
      x-fastmcp-generate: false
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: Services list replaced successfully

    post:
      summary: Add service to parental control
      description: |
        Adds a service to the parental control blocklist.

        **Safety Note**: Only use with designated test profiles.
      operationId: addToParentalControlServices
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContentEntry'
      responses:
        '200':
          description: Service added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

  /profiles/{profile_id}/parentalControl/services/{id}:
    get:
      summary: Get parental control service details
      description: Retrieves details of a specific blocked service entry.
      operationId: getParentalControlServiceEntry
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - name: id
          in: path
          required: true
          description: Service ID
          schema:
            type: string
      responses:
        '200':
          description: Service entry details
          content:
            application/json:
              schema:
                type: object

    patch:
      summary: Update parental control service entry
      description: |
        Updates properties of a parental control service entry (e.g., enable/disable).

        **Safety Note**: Only use with designated test profiles.
      operationId: updateParentalControlServiceEntry
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - name: id
          in: path
          required: true
          description: Service ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  description: Enable or disable this service block
              example:
                active: false
      responses:
        '200':
          description: Entry updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

    delete:
      summary: Remove service from parental control
      description: |
        Removes a service from the parental control blocklist.

        **Safety Note**: Only use with designated test profiles.
      operationId: removeFromParentalControlServices
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - name: id
          in: path
          required: true
          description: Service ID
          schema:
            type: string
      responses:
        '200':
          description: Service removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

  # Parental Control - Categories
  /profiles/{profile_id}/parentalControl/categories:
    get:
      summary: Get parental control categories
      description: Retrieves blocked content categories (e.g., gambling, adult content, etc.).
      operationId: getParentalControlCategories
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '200':
          description: Parental control categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentList'

    put:
      summary: Replace parental control categories
      description: |
        Replaces the entire list of blocked categories.

        **Known Limitation**: This endpoint requires a raw JSON array at the root level,
        which is not fully supported by FastMCP. Tool generation is disabled.
        Use the NextDNS API directly for bulk replacement operations.
      operationId: replaceParentalControlCategories
      x-fastmcp-generate: false
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: Categories list replaced successfully

    post:
      summary: Add category to parental control
      description: |
        Adds a category to the parental control blocklist.

        **Safety Note**: Only use with designated test profiles.
      operationId: addToParentalControlCategories
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContentEntry'
      responses:
        '200':
          description: Category added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

  /profiles/{profile_id}/parentalControl/categories/{id}:
    get:
      summary: Get parental control category details
      description: Retrieves details of a specific blocked category entry.
      operationId: getParentalControlCategoryEntry
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - name: id
          in: path
          required: true
          description: Category ID
          schema:
            type: string
      responses:
        '200':
          description: Category entry details
          content:
            application/json:
              schema:
                type: object

    patch:
      summary: Update parental control category entry
      description: |
        Updates properties of a parental control category entry (e.g., enable/disable).

        **Safety Note**: Only use with designated test profiles.
      operationId: updateParentalControlCategoryEntry
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - name: id
          in: path
          required: true
          description: Category ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  description: Enable or disable this category block
              example:
                active: false
      responses:
        '200':
          description: Entry updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

    delete:
      summary: Remove category from parental control
      description: |
        Removes a category from the parental control blocklist.

        **Safety Note**: Only use with designated test profiles.
      operationId: removeFromParentalControlCategories
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - name: id
          in: path
          required: true
          description: Category ID
          schema:
            type: string
      responses:
        '200':
          description: Category removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

  # Security Settings
  /profiles/{profile_id}/security:
    get:
      summary: Get security settings
      description: Retrieves security configuration including threat blocking and DNSSEC.
      operationId: getSecuritySettings
      tags:
        - Security
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '200':
          description: Security settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  threatIntelligenceFeeds:
                    type: boolean
                  aiThreatDetection:
                    type: boolean
                  googleSafeBrowsing:
                    type: boolean
                  cryptojacking:
                    type: boolean
                  dnsRebinding:
                    type: boolean
                  homographs:
                    type: boolean
                  typosquatting:
                    type: boolean
                  dga:
                    type: boolean
                  nrd:
                    type: boolean
                  parked:
                    type: boolean
                  csam:
                    type: boolean

    patch:
      summary: Update security settings
      description: Updates security configuration options.
      operationId: updateSecuritySettings
      tags:
        - Security
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                threatIntelligenceFeeds:
                  type: boolean
                aiThreatDetection:
                  type: boolean
                googleSafeBrowsing:
                  type: boolean
                cryptojacking:
                  type: boolean
                dnsRebinding:
                  type: boolean
                homographs:
                  type: boolean
                typosquatting:
                  type: boolean
                dga:
                  type: boolean
                nrd:
                  type: boolean
                parked:
                  type: boolean
                csam:
                  type: boolean
      responses:
        '200':
          description: Security settings updated

  # Privacy Settings
  /profiles/{profile_id}/privacy:
    get:
      summary: Get privacy settings
      description: Retrieves privacy protection configuration.
      operationId: getPrivacySettings
      tags:
        - Privacy
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '200':
          description: Privacy settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  disguisedTrackers:
                    type: boolean
                  allowAffiliate:
                    type: boolean

    patch:
      summary: Update privacy settings
      description: Updates privacy protection options.
      operationId: updatePrivacySettings
      tags:
        - Privacy
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                disguisedTrackers:
                  type: boolean
                allowAffiliate:
                  type: boolean
      responses:
        '200':
          description: Privacy settings updated

  # Parental Control Settings
  /profiles/{profile_id}/parentalControl:
    get:
      summary: Get parental control settings
      description: Retrieves parental control configuration.
      operationId: getParentalControlSettings
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '200':
          description: Parental control settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  safeSearch:
                    type: boolean
                  youtubeRestrictedMode:
                    type: boolean
                  blockBypass:
                    type: boolean

    patch:
      summary: Update parental control settings
      description: Updates parental control configuration options.
      operationId: updateParentalControlSettings
      tags:
        - Content Lists
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                safeSearch:
                  type: boolean
                youtubeRestrictedMode:
                  type: boolean
                blockBypass:
                  type: boolean
      responses:
        '200':
          description: Parental control settings updated

  # Security - TLD Management
  /profiles/{profile_id}/security/tlds:
    get:
      summary: Get blocked TLDs for security
      description: Retrieves the list of top-level domains blocked for security reasons.
      operationId: getSecurityTLDs
      tags:
        - Security
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '200':
          description: List of blocked TLDs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentList'

    post:
      summary: Add TLD to security blocklist
      description: |
        Adds a top-level domain to the security blocklist.

        **Safety Note**: Only use with designated test profiles.
      operationId: addSecurityTLD
      tags:
        - Security
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContentEntry'
            example:
              id: xyz
      responses:
        '200':
          description: TLD added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

    put:
      summary: Replace security TLD blocklist
      description: |
        Replaces the entire security TLD blocklist with the provided list.

        **Warning**: This operation removes all existing entries and replaces them.
        **Safety Note**: Only use with designated test profiles.

        **Known Limitation**: This endpoint requires a raw JSON array at the root level,
        which is not fully supported by FastMCP. Tool generation is disabled.
        Use the NextDNS API directly for bulk replacement operations.
      operationId: replaceSecurityTLDs
      x-fastmcp-generate: false
      tags:
        - Security
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
              description: Array of TLD names to set as the complete blocklist
              example: ["xyz", "top", "zip"]
      responses:
        '200':
          description: TLD blocklist replaced successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

  /profiles/{profile_id}/security/tlds/{entry_id}:
    patch:
      summary: Update security TLD entry
      description: |
        Updates properties of a security TLD entry (e.g., enable/disable).

        **Safety Note**: Only use with designated test profiles.
      operationId: updateSecurityTLDEntry
      tags:
        - Security
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/EntryId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  description: Enable or disable this TLD block entry
              example:
                active: false
      responses:
        '200':
          description: Entry updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

    delete:
      summary: Remove TLD from security blocklist
      description: |
        Removes a top-level domain from the security blocklist.

        **Safety Note**: Only use with designated test profiles.
      operationId: removeSecurityTLD
      tags:
        - Security
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/EntryId'
      responses:
        '200':
          description: TLD removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

  # Privacy - Blocklists
  /profiles/{profile_id}/privacy/blocklists:
    get:
      summary: Get privacy blocklists
      description: Retrieves the list of privacy protection blocklists enabled for the profile.
      operationId: getPrivacyBlocklists
      tags:
        - Privacy
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '200':
          description: List of privacy blocklists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentList'

    post:
      summary: Add privacy blocklist
      description: |
        Adds a privacy protection blocklist to the profile.

        **Safety Note**: Only use with designated test profiles.
      operationId: addPrivacyBlocklist
      tags:
        - Privacy
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContentEntry'
            example:
              id: nextdns-recommended
      responses:
        '200':
          description: Blocklist added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

    put:
      summary: Replace privacy blocklists
      description: |
        Replaces the entire privacy blocklists collection with the provided list.

        **Warning**: This operation removes all existing entries and replaces them.
        **Safety Note**: Only use with designated test profiles.

        **Known Limitation**: This endpoint requires a raw JSON array at the root level,
        which is not fully supported by FastMCP. Tool generation is disabled.
        Use the NextDNS API directly for bulk replacement operations.
      operationId: replacePrivacyBlocklists
      x-fastmcp-generate: false
      tags:
        - Privacy
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
              description: Array of blocklist IDs to set as the complete collection
              example: ["nextdns-recommended", "easylist"]
      responses:
        '200':
          description: Blocklists replaced successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

  /profiles/{profile_id}/privacy/blocklists/{entry_id}:
    patch:
      summary: Update privacy blocklist entry
      description: |
        Updates properties of a privacy blocklist entry (e.g., enable/disable).

        **Safety Note**: Only use with designated test profiles.
      operationId: updatePrivacyBlocklistEntry
      tags:
        - Privacy
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/EntryId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  description: Enable or disable this blocklist entry
              example:
                active: false
      responses:
        '200':
          description: Entry updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

    delete:
      summary: Remove privacy blocklist
      description: |
        Removes a privacy protection blocklist from the profile.

        **Safety Note**: Only use with designated test profiles.
      operationId: removePrivacyBlocklist
      tags:
        - Privacy
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/EntryId'
      responses:
        '200':
          description: Blocklist removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

  # Privacy - Native Tracking Protection
  /profiles/{profile_id}/privacy/natives:
    get:
      summary: Get native tracking protection settings
      description: Retrieves the list of native tracking protection blockers enabled for the profile.
      operationId: getPrivacyNatives
      tags:
        - Privacy
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '200':
          description: List of native tracking blockers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentList'

    post:
      summary: Add native tracking protection
      description: |
        Adds a native tracking protection blocker to the profile (e.g., Alexa, Roku, Samsung, etc.).

        **Safety Note**: Only use with designated test profiles.
      operationId: addPrivacyNative
      tags:
        - Privacy
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContentEntry'
            example:
              id: alexa
      responses:
        '200':
          description: Native tracking protection added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

    put:
      summary: Replace native tracking protection
      description: |
        Replaces the entire native tracking protection collection with the provided list.

        **Warning**: This operation removes all existing entries and replaces them.
        **Safety Note**: Only use with designated test profiles.

        **Known Limitation**: This endpoint requires a raw JSON array at the root level,
        which is not fully supported by FastMCP. Tool generation is disabled.
        Use the NextDNS API directly for bulk replacement operations.
      operationId: replacePrivacyNatives
      x-fastmcp-generate: false
      tags:
        - Privacy
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
              description: Array of native tracker IDs to set as the complete collection
              example: ["alexa", "roku", "samsung"]
      responses:
        '200':
          description: Native tracking protection replaced successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

  /profiles/{profile_id}/privacy/natives/{entry_id}:
    patch:
      summary: Update native tracking protection entry
      description: |
        Updates properties of a native tracking protection entry (e.g., enable/disable).

        **Safety Note**: Only use with designated test profiles.
      operationId: updatePrivacyNativeEntry
      tags:
        - Privacy
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/EntryId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  description: Enable or disable this native tracking protection entry
              example:
                active: false
      responses:
        '200':
          description: Entry updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

    delete:
      summary: Remove native tracking protection
      description: |
        Removes a native tracking protection blocker from the profile.

        **Safety Note**: Only use with designated test profiles.
      operationId: removePrivacyNative
      tags:
        - Privacy
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/EntryId'
      responses:
        '200':
          description: Native tracking protection removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'

  # Logs
  /profiles/{profile_id}/logs:
    get:
      summary: Get query logs
      description: |
        Retrieves DNS query logs for a profile with filtering and pagination support.

        Supports filtering by date range, device, status, and text search.
      operationId: getLogs
      tags:
        - Logs
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Limit'
        - name: device
          in: query
          description: Filter by device ID
          schema:
            type: string
        - name: status
          in: query
          description: Filter by query status
          schema:
            type: integer
        - name: search
          in: query
          description: Search query for domain names
          schema:
            type: string
        - name: sort
          in: query
          description: Sort order (asc or desc)
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: cursor
          in: query
          description: Pagination cursor
          schema:
            type: string
      responses:
        '200':
          description: Query logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnalyticsQuery'
                  cursor:
                    type: string
                    description: Cursor for next page

    delete:
      summary: Clear all logs
      description: |
        **WARNING**: Permanently deletes all query logs for this profile.

        This action cannot be undone. Use with caution.

        **Safety Note**: Only use with designated test profiles.
      operationId: clearLogs
      tags:
        - Logs
      parameters:
        - $ref: '#/components/parameters/ProfileId'
      responses:
        '204':
          description: Logs cleared successfully
        '404':
          description: Profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /profiles/{profile_id}/logs/stream:
    get:
      summary: Stream query logs in real-time
      description: |
        Streams DNS query logs in real-time using Server-Sent Events (SSE).

        This endpoint provides a continuous stream of query events as they occur.
      operationId: streamLogs
      x-fastmcp-generate: false  # SSE streaming endpoint - FastMCP doesn't support Server-Sent Events
      tags:
        - Logs
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - name: device
          in: query
          description: Filter by device ID
          schema:
            type: string
      responses:
        '200':
          description: Event stream
          content:
            text/event-stream:
              schema:
                type: string
                description: Server-sent events stream

  /profiles/{profile_id}/logs/download:
    get:
      summary: Download logs as file
      description: |
        Downloads query logs as a file for offline analysis.

        Supports filtering by date range and returns logs in a downloadable format.
      operationId: downloadLogs
      tags:
        - Logs
      parameters:
        - $ref: '#/components/parameters/ProfileId'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - name: format
          in: query
          description: Download format
          schema:
            type: string
            enum: [csv, json]
            default: csv
      responses:
        '200':
          description: Log file
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: object

tags:
  - name: Profiles
    description: Profile management operations
  - name: Settings
    description: Profile configuration settings
  - name: Analytics
    description: DNS query analytics and statistics
  - name: Logs
    description: Query log management and real-time streaming
  - name: Content Lists
    description: Denylist, allowlist, and parental control management
  - name: Security
    description: Security configuration (TLD blocking)
  - name: Privacy
    description: Privacy protection configuration (blocklists, native tracking)
